.body{
    background-color: #222;
}

.bportal{
    position: relative;
    bottom: 400px;
    right:-130px;
    width: 400px;
    height: 400px;
}

.oportal{
    position: relative;
    bottom: 910px;
    right: -1200px;
    width:400px;
    height:400px;
}

.dot {
    position: relative;
    right: -640px;
    bottom: -10px;
    height: 425px;
    width: 425px;
    background-image: linear-gradient(#4caf50,#222);
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    position: relative;
    right: -225px;
    bottom: 3px;
    height: 400px;
    width: 400px;
    background-color: #222;
    border-radius: 50%;
    display: inline-block;
}

.badges{
    position: relative;
    bottom: 350px;
    right: -25px;
    height: 275px;
    width: 275px;
    border-radius: 75%;
}

.middle:hover .badges{
    opacity: 50%;
}

.fortnite:hover .fortnitelogo{
    filter: grayscale(0%);
    opacity: 100%; 
}

.trophies{
    position: relative;
    bottom: 400px;
    height: 200px;
    width: 200px;
    border-radius: 75%;
}

.orange:hover .trophies{
    opacity: 50%;
}

.bg{
    position: relative;
    bottom: 400px;
    right: 274px;
    height: 200px;
    width: 200px;
    border-radius: 75%;
}

.blue:hover .bg{
    opacity: 50%;
}

.join{
    position: relative;
    right: 220px;
    bottom: 400px;
    width: 300px;
    height: 300px;
}

.page{
    position: relative;
    right: -10px;
    bottom: 350px;
    width: 300px;
    height: 300px;
}

.badges{
    position: relative;
    right: -735px;
    bottom: 830px;
    width: 600px;
    height: 600px;
}

/* Styles moved from index.html internal <style> tag */

body {
    background-color: #222;
    margin: 0px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.navbar-brand{
    float:left;
}

.container{
    width:80%;
    margin: 0 auto;
    padding-top: 120px;
}

.container .jumbotron{
    border-radius: 10px;
    background-color: #222;
}

header{
    background: #222;
    position: relative;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    position: absolute;
    left: 10px;
    float: left;
    border-radius: 75%;
    padding: 10px 0;
    width:100px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar{
    float: right;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a{
    color: white;
}

nav ul a:hover{
    color: #4caf50;
    text-decoration: none;
}

nav ul a::before{
    content:'';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #4caf50;
    position: absolute;
    top:0;
    width:0%;
    transition: all ease-in-out 250ms;
}

nav ul a:hover::before{
    width: 100%;
}

.lead{
    text-align: center;
    font-family: Oswald;
    font-size: 70px;
    color: #4caf50;
    font-weight: bold;
}

.lead2{
    text-align: center;
    color: #4caf50;
    font-family: Oswald;
    font-size: 50px;
}

.lead3{
    color: white;
}

.lead3 h3{
    text-align: center;
    font-family: Oswald;
    font-size: 35px;
}

.lead3 p{
    text-align: center;
}

.text li{
    font-size: 20px;
}

.links{
    margin: 20px;
    display: block;
    width: 120px;
}

.my-4{
    text-align: center;
}

.container .a{
    text-align: center;
}

.info-card{
    width: 575px;
    margin: 0 auto;
    position: relative;
    padding-top: 650px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col1 {
    padding-right: 450px;
}

.bg-img {
    height: 260px;
    right: 340px;
    position: relative;
    padding-right: 470px;
}

.bg-img img {
    height: 100%;
    margin: auto;
    display: block;
    filter: brightness(75%);
    box-shadow: 0 5px 10px #4caf50;
}

.community-text {
    font-weight: 800;
    font-size: 36px;
    border: 6px solid white;
    color: white;
    padding: 10px;
    position: relative;
    top: -180px;
    right: 340px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.stats {
    box-shadow: 0 5px 10px #4caf50;
    background-color: white;
    height: 123px;
    width: 450px;
    right: 340px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: -130px;
}

.stats ul {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.heading {
    color: gray;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.footing {
    font-size: 14px;
    font-weight: 500;
}

.footing1 {
    padding-left:25px;
    font-size: 14px;
}

div.text-card ul li{
    width: 500px;
    left: 400px;
}

.text-subject{
    font-family: Oswald;
    font-size: 20px;
    color: #4caf50;
    text-align: center;
}

.text-body{
    font-family: "Work Sans" sans-serif;
    color: white;
    text-align: center;
}

.btn {
    background-color: #4caf50;
    color: white;
    font-weight: 300;
    box-shadow: 0 5px 10px #222;
    padding: 15px;
    border-radius: 50px;
    width: 50%;
    right: -100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -25px;
    text-transform: uppercase;
}

.home-container {
    background-color: #222;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.home-container .container{
    bottom: 50px;
}

#slider {
    margin-top: 60px;
}

#slider .item{
    height: 400px;
}

#slide1 {
    background: url('bg-image.jpg') center no-repeat;
}

#slide2 {
    background: url('collage.jpg') center no-repeat;
}

#slide3 {
    background: url('trophies.jpg') center no-repeat;
}

.carousel-caption{
    font-size: 18px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}